<ion-header>
    <ion-navbar>
        <ion-title>Settings</ion-title>
        <ion-buttons end>
            <div *ngIf="isSaving">
                Saving... <ion-spinner name="ios"></ion-spinner>
            </div>
            <div *ngIf="isSaved">
                Saved! <ion-icon name="checkmark-circle-outline"></ion-icon>
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="settingsForm" (ngSubmit)="submitSettingsForm()">
        <ion-item>
            <ion-label stacked>Default statistics period</ion-label>
            <ion-select formControlName="statistics_period" (ionChange)="submitSettingsForm()">
                <ion-option *ngFor="let option of statisticsPeriodOptions" value="{{option.value}}">{{option.label}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>Default statistics chart type</ion-label>
            <ion-select formControlName="statistics_type" (ionChange)="submitSettingsForm()">
                <ion-option *ngFor="let option of statisticsTypeOptions" value="{{option.value}}">{{option.label}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>First day of the week</ion-label>
            <ion-select formControlName="first_day_of_week" (ionChange)="submitSettingsForm()">
                <ion-option *ngFor="let option of firstDayOfWeekOptions" value="{{option.value}}">{{option.label}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Dark mode</ion-label>
            <ion-toggle formControlName="dark_mode" (ionChange)="submitSettingsForm()"></ion-toggle>
        </ion-item>
    </form>
    <div padding>
        <button ion-button block [disabled]="isDefaultSettings" (click)="resetAllToDefault()">Reset back to default settings</button>
        <button ion-button block [disabled]="hasNoIncrements" (click)="resetAllTrackItems()">Delete all statistics</button>
    </div>
</ion-content>
